*{
    box-sizing: border-box;
}


body{
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
}


.page{
    width: 414px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    margin-top: 119px;
    overflow: hidden;
    
}


.top-bar{
    background-color:#CF2B2B;
    width: 414px;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.top-bar > div{
    margin-left: 21px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.top-bar :nth-child(1){
    width: 248px;
    height: 44px;
    font-family: 'Righteous', cursive;
    font-size: 44px;
}
.top-bar :nth-child(2){
    width: 226px;
    height: 27px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}


.titulo{
    height: 25px;
    font-family: 'Righteous', cursive;
    font-size: 26px;
    margin-left: 19px;
    
}


.Pratos, .Bebidas, .Sobremesas{
    margin-top: 17px;
    margin-bottom: 27px;
    display: flex;
    overflow-x: scroll;
    height:216px;
}
.Pratos::-webkit-scrollbar, .Bebidas::-webkit-scrollbar ,.Sobremesas::-webkit-scrollbar{
    display: none;
}


.item{
    background-color: white;
    width: 172px;
    height: 216px;
    margin-left: 16px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border: 3px solid white;
    padding-top: 10px;
}
.item > img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin: 0 14px;
    position: relative;
}
.check{
    position: relative;
    left:65px;
    bottom: 18px;
    font-size: 20px;
}
.item > div{
    font-family: 'Roboto', sans-serif;
}
.descricao > div{
    display: flex;
    align-items: center;
}
.descricao :nth-child(1){
    width: 139px;
    height: 23px;
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
    margin-left: 15px;
}
.descricao :nth-child(2){
    width: 147px;
    height: 39px;
    width: 147px;
    height: 39px;
    color: #A6A6A6;
    font-size: 15px;
    font-weight: 300;
    margin-top: 4px;
    margin-left: 15px;
}
.descricao :nth-child(3){
    height: 19px;
    color: #000000;
    font-size: 16px;
    font-weight:bold;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 0px;
}


.bottom-bar{
    background-color: #FFFFFF;
    width: 414px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 916px;
}
.selecione{
    background-color: #CBCBCB;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}




.selecionado{
    border-color: #32B72F;
    color: #32B72F;
}


@media (max-width: 414px){
    .bottom-bar{
        top: 644px;
        width: 100%;
    }
    body{
        background-color: aquamarine;
        width: 100%;
        height: 100%;
    }
    .top-bar{
        width: 100%;
    }

    
}
